{% extends 'layout.html' %}
{% block body %}
  <form name="editform" method="POST">
    {{ form.csrf_token }}
    {{ form.name(class='form-control input-lg', id='wiki_title', placeholder='Page Title') }}
    {{ form.content(class='form-control', id='content_textarea') }}
    <div id="content_editor"></div>

    <button type="submit" class="btn btn-primary">Add/Edit Page</button>
    <a href="{{ url_for('wiki.home') }}" class="btn btn-default">Cancel</a>
  </form>

  <script src="{{ url_for('static', filename='js/ace/ace.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/ace/mode-markdown.js') }}" charset="utf-8"></script>
  <script>
  var editor = ace.edit('content_editor');
  var textarea = $('textarea[id=content_textarea]').hide();
  var MarkdownMode = ace.require("ace/mode/markdown").Mode;
  editor.$blockScrolling = Infinity;
  editor.getSession().setValue(textarea.val());
  editor.session.setMode(new MarkdownMode());
  editor.getSession().on('change', function(){
    textarea.val(editor.getSession().getValue());
  });
  </script>
{% endblock %}
