{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <div class="btn-group btn-group-sm pull-right header-buttons">
      <a href="{{ url_for('wiki.edit_page', page_name='home') }}" class="btn btn-primary">Edit this page</a>
      <a href="{{ url_for('wiki.edit_page') }}" class="btn btn-success">Create new page</a>
    </div>
    <h1>Wiki Home</h1>
  </div>
  <h2>Most Visited Pages</h2>
  <table>
    {% for page in pages %}
    <tr><td>
    <a href="{{ url_for('wiki.view_page',page_name=page.name) }}">{{page.name}}</a>
    </td></tr>
    {% endfor %}
  </table>
  {{ html|safe }}
{% endblock %}
