{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>
      Wiki Home
      <small>
        <a href="{{ url_for('wiki.edit_page', page_name='home') }}" class="btn btn-default">Edit this page</a>
        <a href="{{ url_for('wiki.edit_page') }}" class="btn btn-primary">Create new page</a>
        <a href="{{ url_for('wiki.question') }}" class="btn btn-info">Question</a>

        <form method="POST" action="{{ url_for('wiki.search') }}" class="form-inline">
          {{ form.csrf_token }}
          <span class="input-group">
            {{ form.search_box(class='form-control') }}
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
            </span>
          </span>
        </form>
      </small>
    </h1>
  </div>


  <h2>Most Visited Pages</h2>
  <table>
    {% for page in pages %}
      <tr><td>
        <a href="{{ url_for('wiki.view_page',page_name=page.name) }}">{{page.name}}</a>
      </td></tr>
    {% endfor %}
  </table>
  {{ html|safe }}
{% endblock %}
