{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <div class="btn-group btn-group-sm pull-right">
      <a href="{{ url_for('wiki.edit_page') }}" class="btn btn-success">Create new page</a>
      <form method="POST" action="{{ url_for('wiki.search') }}" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.search_box.label(class='control-label col-sm-2') }}
        </div>
        <div class="col-sm-10">
          {{ form.search_box(class='form-control') }}
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
    <h1>Search Results</h1>
  </div>

  <table class="borderless">
  {% for page in results %}
    <tr>
      <td><a href="{{ url_for('wiki.view_page', page_name=page.name) }}">{{ page.name }}</a></td>
    </tr>
    {% if page.content|length > 100 %}
      <tr><td>{{ page.content|truncate(100) }}...</td></tr>
    {% else %}
      <tr><td>{{ page.content }}</td></tr>
    {% endif %}
    <tr><td><br></td></tr>
  {% endfor %}
  </table>

{% endblock %}
