{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <div class="btn-group btn-group-sm pull-right header-buttons">
      <a href="{{ url_for('wiki.edit_page', page_name=page.name) }}" class="btn btn-primary">Edit this page</a>
      <a href="{{ url_for('wiki.edit_page') }}" class="btn btn-success">Create new page</a>
    </div>
    <h1>{{ page.name }}</h1>
  </div>
  <div class="pull-right">
    <form action="{{ url_for('wiki.delete_page', page_id=page.id) }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button class="btn btn-xs btn-danger">Delete this page</button>
    </form>
  </div>

  Table of Contents
  {{ toc|safe }}
  <hr>

  {{ html|safe }}

  <small>Last modified: {{ page.modtime }} by {{ page.editor }}</small>
{% endblock %}
