{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Login</h1>
  </div>

  <div class="col-md-6">
    <form method="POST" action="{{ url_for('auth.login', next='/') }}" class="form-horizontal">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.email.label(class='control-label col-sm-2') }}
        <div class="col-sm-10">
          {{ form.email(class='form-control') }}
        </div>
      </div>
      <div class="form-group">
        {{ form.password.label(class='control-label col-sm-2') }}
        <div class="col-sm-10">
          {{ form.password(class='form-control') }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Log in</button>
          {{ form.remember }}
          {{ form.remember.label(class='control-label') }}
        </div>
      </div>
    </form>
    <a href="{{ url_for('auth.resetpass') }}">I forgot my password</a>
  </div>
{% endblock %}
