{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Locations</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for location in locations %}
            <tr>
              <td>{{ location.id }}</td>
              <td>{{ location.name }}</td>
              <td>
                <form action="{{ url_for('admin.delete_location', loc_id=location.id) }}" method="POST">
                  <button class="btn btn-xs btn-danger">Delete</button>
                </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <div class="col-md-4">
      <h3>Add a new Location</h3>
      <form method="POST" action="{{ url_for('admin.edit_locations', next='/') }}">
        {{ form.csrf_token }}
        {{ form.name.label }}
        <div class="input-group">
          {{ form.name(class='form-control') }}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Create</button>
          </span>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
