{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Users</h1>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <tr><th class="super-th" colspan="9">Active Users</th></tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Is Admin?</th>
            <th>Location</th>
            <th>Department</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for user in users.items %}
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              {% if user.email == current_user.email %}
                <td>
                  <button class="btn btn-xs btn-danger" disabled>Remove Admin</button>
                </td>
              {% else %}
                {% if user.is_admin %}
                    <td><form action="{{ url_for('admin.demote_user', user_id=user.id) }}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      <button class="btn btn-xs btn-danger">Remove Admin</button>
                    </form></td>
                {% else %}
                    <td><form action="{{ url_for('admin.promote_user', user_id=user.id) }}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      <button class="btn btn-xs btn-warning">Make Admin</button>
                    </form></td>
                {% endif %}
              {% endif %}
              <td>{{ user.location.name }}</td>
              <td>{{ user.department.name }}</td>
              <td>
          {% if user.email != current_user.email %}
                <form action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button class="btn btn-xs btn-danger">Delete</button>
                </form>
          {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if users.has_prev %}
        <a class="btn btn-primary" href="{{ url_for('admin.edit_users') }}">First</a>
        <a class="btn btn-primary" href="{{ url_for('admin.edit_users', page_num=users.prev_num) }}">&laquo; Prev</a>
      {% endif %}
      {% if users.has_next %}
        <span class="pull-right">
          <a class="btn btn-primary" href="{{ url_for('admin.edit_users', page_num=users.next_num) }}">Next &raquo;</a>
          <a class="btn btn-primary" href="{{ url_for('admin.edit_users', page_num=users.pages) }}">Last</a>
        </span>
      {% endif %}
    </div>

  {% if candidates %}
      <table class="table table-striped">
        <thead>
          <tr><th class="super-th" colspan="1">Pending Users</th></tr>
          <tr>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.email }}</td>
              <td>
                <form action="{{ url_for('admin.delete_candidate', candidate_id=candidate.id) }}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button class="btn btn-xs btn-danger">Delete</button>
                </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

    <div class="col-md-3">
      <h3>Add a new User</h3>
      <form method="POST" action="{{ url_for('admin.edit_users') }}" class="form-horizontal">
        {{ form.csrf_token }}

        {{ form.email.label(class='control-label') }}
        {{ form.email(class='form-control normal') }}

        {{ form.confirm_email.label(class='control-label') }}
        {{ form.confirm_email(class='form-control normal') }}

        <button type="submit" class="btn btn-primary form-control-spaced">Send Invite</button>
      </form>
    </div>
  </div>
{% endblock %}
