{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Departments</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for department in departments %}
            <tr>
              <td>
                <a href="#" id="dept_{{ department.id }}" class="editable editable-click inline-input">
                  {{ department.name }}
                </a>
              </td>
              <td>
                <form action="{{ url_for('admin.delete_department', dept_id=department.id) }}" method="POST">
                  <span id="edit_{{ department.id }}" class="fa fa-pencil" aria-hidden="true"></span>
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button type="submit" class="btn btn-blank">
                    <span class="fa fa-trash-o text-danger" aria-hidden="true"></span>
                  </button>
                </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Add a new Department</h3>
        <form method="POST" action="{{ url_for('admin.edit_departments') }}" class="form-horizontal">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.name.label(class='control-label col-sm-2') }}
            <div class="col-sm-10">
              {{ form.name(class='form-control') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Add Department</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
  {% for department in departments %}
    $('#dept_{{ department.id }}').editable({
      type: 'text',
      url: '{{ url_for('admin.change_department_name') }}',
      pk: {{ department.id }},
      placement: 'top',
      title: 'Edit department name',
      toggle: 'manual',
      params: {
        csrf_token: "{{ csrf_token() }}"
      }
    });

    $('#edit_{{ department.id }}').click(function(e) {
      e.stopPropagation();
      $('#dept_{{ department.id }}').editable('toggle');
    });
  {% endfor %}
  </script>
{% endblock %}
