{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Departments</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for department in departments %}
            <tr>
              <td>{{ department.id }}</td>
              <td>{{ department.name }}</td>
              <td>
                <form action="{{ url_for('admin.delete_department', dep_id=department.id) }}" method="POST">
                  <button class="btn btn-xs btn-danger">Delete</button>
                </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Add a new Department</h3>
        <form method="POST" action="{{ url_for('admin.edit_departments') }}" class="form-horizontal">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.name.label(class='control-label col-sm-2') }}
            <div class="col-sm-10">
              {{ form.name(class='form-control') }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Add Location</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
