{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Fields</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Department</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for department in departments %}
            {% for field in department.fields %}
              <tr>
                <td>{{ field.department.name }}</td>
                <td>{{ field.name }}</td>
                <td>{{ field.ftype.name|upper }}</td>
                <td>
                  <a href="{{ url_for('admin.delete_field', field_id=field.id) }}" data-method="post" class="btn btn-danger btn-xs">Delete</a>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h3>Add a new Field</h3>
      <form method="POST" action="{{ url_for('admin.edit_fields') }}" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="row">
          <div class="col-sm-7">
            {{ form.department.label(class='control-label') }}
            {{ form.department(class='form-control') }}
          </div>

          <div class="col-sm-5">
            {{ form.field_type.label(class='control-label') }}
            {{ form.field_type(class='form-control') }}
          </div>
        </div>

        <div class="input-group form-control-spaced">
          {{ form.name(class='form-control', placeholder='Field Name') }}
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><span class="fa fa-plus"></span></button>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
