{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Departments</h1>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for department in departments %}
            <tr>
              <td>
                <a href="#" id="dept_{{ department.id }}" class="editable editable-click inline-input">
                  {{ department.name }}
                </a>
              </td>
              <td>
                <a href="{{ url_for('admin.delete_department', dept_id=department.id) }}" data-method="post" data-confirm="Are you sure you want to delete this department?" class="btn btn-danger btn-xs">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <h3>Add a new Department</h3>
      <form method="POST" action="{{ url_for('admin.edit_departments') }}" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="input-group">
          {{ form.name(class='form-control', placeholder='Department Name') }}
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><span class="fa fa-plus"></span></button>
          </div>
      </form>
    </div>
  </div>

  <script>
  {% for department in departments %}
    $('#dept_{{ department.id }}').editable({
      type: 'text',
      url: '{{ url_for('admin.change_department_name') }}',
      pk: {{ department.id }},
      placement: 'top',
      title: 'Edit department name',
      toggle: 'manual',
      params: {
        csrf_token: "{{ csrf_token() }}"
      }
    });

    $('#edit_{{ department.id }}').click(function(e) {
      e.stopPropagation();
      $('#dept_{{ department.id }}').editable('toggle');
    });
  {% endfor %}
  </script>
{% endblock %}
