{% extends 'layout.html' %}
{% block body %}
  <div class="page-header">
    <h1>Locations</h1>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for location in locations %}
            <tr>
              <td>{{ location.id }}</td>
              <td>
                <a href="#" id="loc_{{ location.id }}" class="editable editable-click inline-input">
                  {{ location.name }}
                </a>
              </td>
              <td>
                <span id="edit_{{ location.id }}" class="fa fa-pencil" aria-hidden="true"> Edit</span>
              </td>
              <td>
                <a href="{{ url_for('admin.delete_location', loc_id=location.id) }}" data-method="post" data-confirm="Are you sure you want to delete this location?" class="btn btn-danger btn-xs">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <h3>Add a new Location</h3>
      <form method="POST" action="{{ url_for('admin.edit_locations', next='/') }}">
        {{ form.csrf_token }}
        <div class="input-group">
          {{ form.name(class='form-control', placeholder='Location Name') }}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><span class="fa fa-plus"></span></button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <script>
  {% for location in locations %}
    $('#loc_{{ location.id }}').editable({
      type: 'text',
      url: '{{ url_for('admin.change_location_name') }}',
      pk: {{ location.id }},
      placement: 'top',
      title: 'Edit location name',
      toggle: 'manual',
      params: {
        csrf_token: "{{ csrf_token() }}"
      }
    });

    $('#edit_{{ location.id }}').click(function(e) {
      e.stopPropagation();
      $('#loc_{{ location.id }}').editable('toggle');
    });
  {% endfor %}
  </script>
{% endblock %}
